**/bin/
**/obj/
**/.vs/
**/.vscode/
appsettings.Development.json

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

*.mdf
*.ldf

.docker/

data/*.xlsx
data/*.csv
!data/.gitkeep

*.log
logs/

.DS_Store
Thumbs.db